@import "base/variables";
@import "base/mixins";
@import "libs/normalize";
@import "base/fonts";
@import "blocks/title";

*,
*:before,
*:after {
    box-sizing: border-box;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
body {
    font-family: "Poppins";
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

@import "blocks/header";
@import "blocks/promo";
@import "blocks/new-wines";
@import "blocks/future-products";
@import "blocks/reviews";
@import "blocks/offers";
@import "blocks/events";
@import "blocks/contacts";
