.footer {
    background-color: #000;
    padding: 133px 0 44px;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-bottom: 92px;
    }
    &__title {
        font-size: 24px;
        color: $yellow-color;
        font-family: "ChocolateBox";
        text-transform: lowercase;
        margin-bottom: 40px;
    }
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 170px;
        &-item {
            font-size: 16px;
            margin-bottom: 15px;
        }
    }
    &__socials {
        max-width: 218px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &__link {
        position: relative;
        color: $yellow-color;
        font-size: 24px;
        text-decoration: none;
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            font-family: "icomoon";
        }
        &_google:before {
            content: "\ea88";
        }
        &_twitter:before {
            content: "\ea96";
        }
        &_linkedin:before {
            content: "\eaca";
        }
        &_instagram:before {
            content: "\ea92";
        }
    }

    &__item {
        font-size: 16px;
        padding-left: 35px;
        margin-bottom: 10px;
    }
    &__divider {
        height: 1px;
        width: 100%;
        background-color: rgba(256, 256, 256, 0.6);
    }
    &__copyright {
        padding-top: 22px;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
    }
}
