.header {
    min-height: 141px;
    padding: 12px 0 0;
    background-color: #000;
    position: relative;
    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 12px;
    }
    &__top {
        font-family: "Poppins";
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 13px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        &-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0 10px;
        }
        &-item {
            margin-right: 46px;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
        }
        &-user {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            margin-right: 33px;
        }
        &-shop {
            width: 23px;
            height: 23px;
        }
        &-burger {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            position: relative;
            cursor: pointer;
            animation: pulsing 2s infinite;
            &:before,
            &:after,
            span {
                content: "";
                position: absolute;
                width: 18px;
                height: 2px;
                background-color: #fff;
                left: 50%;
                transform: translateX(-50%);
            }
            &:before {
                top: 5px;
                transition: all 1s ease;
            }
            &:after {
                bottom: 5px;
                transition: all 0.5s ease;
            }
            span {
                top: 11px;
            }
            &.active_burger {
                &:before {
                    left: 50%;
                    top: 11px;
                    transform: translateX(-50%) rotate(45deg);
                }
                &:after {
                    left: 50%;
                    bottom: 11px;
                    transform: translateX(-50%) rotate(-45deg);
                }
                span {
                    transform: scale(0);
                }
            }
        }
        &-search,
        &-shop {
            margin-right: 30px;
            cursor: pointer;
        }
    }
    &__nav {
        display: none;
        &-list {
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: "ChocolateBox";
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);
            list-style-type: none;
            margin: 0;
        }
        &-link {
            color: #fff;
            text-decoration: none;
            transition: all ease 0.5s;
            &:hover {
                color: $yellow-color;
            }
        }
    }
}
@keyframes pulsing {
    0% {
        box-shadow: 0 0 30px $yellow-color;
    }
    25% {
        box-shadow: 0 0 10px #fff;
    }
    75% {
        box-shadow: 0 0 30px $yellow-color;
    }
    100% {
        box-shadow: 0 0 30px $yellow-color;
    }
}
