.offers {
    padding: 163px 0 55px;
    background-color: #000;
    &__title {
        margin-bottom: 50px;
    }
    &__slider {
        min-height: 800px;
        display: flex;
        align-items: center;
    }
    &__item {
        width: 370px;
        height: 558px;
        position: relative;
        &-img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-about {
            position: absolute;
            bottom: 10px;
            left: 25px;
        }
        &-name {
            font-family: "ChocolateBox";
            font-size: 24px;
            text-transform: lowercase;
        }
        &-price {
            font-size: 36px;
            font-weight: 700;
            line-height: 54px;
        }
        &.swiper-slide-next {
            transform: translateY(-20px);
            & > .offers__item-about {
                bottom: -10px;
            }
            img {
                opacity: 0.3;
                height: 637px;
                width: 370px;
                object-fit: cover;
            }
        }
    }
}
.offers__pagination.swiper-pagination-bullets {
    bottom: 0;
}
.offers__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}
.offers__pagination .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 1;
    width: 20px;
    height: 20px;
}
.offers__pagination .swiper-pagination-bullet-active {
    background-color: $yellow-color;
}
