.promo {
    min-height: 936px;
    background-color: #000;
    padding-top: 190px;
    background-image: url("../img/main-bottles.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    &__subtitle {
        font-family: "ChocolateBox";
        text-align: center;
        font-size: 24px;
        font-weight: 300;
        margin: 0 0 10px;
    }
    &__title {
        font-family: "ChocolateBox";
        text-align: center;
        font-size: 96px;
        font-weight: 300;
        margin: 0 0 10px;
        span {
            color: $yellow-color;
        }
    }
    &__descr {
        max-width: 744px;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        margin: 0 auto 25px;
        text-align: center;
    }
    &__more {
        font-family: "ChocolateBox";
        display: block;
        max-width: 125px;
        margin: 0 auto;
        color: $yellow-color;
        text-transform: uppercase;
        text-decoration: none;
        // border-bottom: 1px solid $yellow-color;
        background-image: linear-gradient($yellow-color, $yellow-color);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size 0.3s;
        &:hover {
            background-size: 100% 1px;
        }
    }
}
